/* Google Fonts Import */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

/* CSS Variables Start */
:root {
  /* Theme Fonts */
  --primary-font: "Poppins", sans-serif;
}
/* CSS Variables End */

/* Reset Default Styles Start */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
  overflow-x: hidden;
  font-family: var(--primary-font);
}

body {
  overflow-x: hidden;
  background-color: #f4f4f4;
  background-color: #f7f7f7;
  min-height: 100vh;
}
/* Reset Default Styles End */

/* Page-Specific Styles Start */
.site-wrapper {
  padding: 2rem;
}

.primary-heading {
  font-size: 3rem;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 0.3px;
  margin-bottom: 2rem;
  text-align: center;
  color: rgb(0, 0, 0);
  word-spacing: 3px;
}

.boxes {
  padding: 2rem;
  width: fit-content;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-block: 2rem;
  gap: 2rem;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.137) inset;
}

.boxes div {
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.21);
  color: rgb(255, 255, 255);
  padding: 1.4rem;
  min-width: 100%;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 0.4px;
  font-weight: 450;
  text-transform: capitalize;
  position: relative;
  background-color: #ff432e;
}

.boxes div:first-child {
  background-color: #2e85cc;
}

.boxes div:last-child {
  background-color: #27e375;
}

.boxes div span {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  width: 2rem;
  height: 2rem;
  display: grid;
  font-size: 1rem;
  font-weight: 500;
  place-content: center;
  color: rgb(0, 0, 0);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.26);
}

.cards-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card {
  padding: 0.6rem;
  padding: 2rem;
  border-radius: 1rem;
  background-color: rgb(255, 255, 255);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.176) inset;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card-body {
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
  border-radius: 1rem;
  position: relative;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.176);
}

.card:nth-child(1n) .card-body {
  background-color: rgba(0, 183, 255, 0.13);
}

.card:nth-child(2n) .card-body {
  background-color: rgba(255, 0, 144, 0.208);
}

.card:nth-child(3n) .card-body {
  background-color: rgba(255, 191, 0, 0.247);
}

.card:nth-child(1n) .btns span {
  background-color: rgba(0, 183, 255, 0.13);
}

.card:nth-child(2n) .btns span {
  background-color: rgba(255, 0, 144, 0.107);
}

.card:nth-child(3n) .btns span {
  background-color: rgba(255, 191, 0, 0.247);
}

.profile {
  width: 7rem;
  padding: 1rem;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.profile img {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: cover;
}

.title {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 450;
  color: #000000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: "...";
}

.content {
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: "...";
  font-size: 1.2rem;
  color: grey;
}

.btns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 0.5rem;
  padding: 2rem 0.3rem 0;
}

.btns div {
  display: flex;
  gap: 0.7rem;
}

.btns span {
  border-radius: 0.5rem;
  color: black;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 0.7rem;
  letter-spacing: 0.3px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.196);
}

.delete,
.mute,
.read {
  width: 2.3rem;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  /* background-color: #e74c3c; */
  background-color: #d8d8d8;
  background-color: #ffffff;

  color: rgb(0, 0, 0);
  font-size: 1.4rem;
  border-radius: 0.2rem;
  cursor: pointer;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.285);
}

.delete {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  background-color: white;
}
/* Page-Specific Styles End */

/* Keyframes for Animations Start */
@keyframes animation-name {
  /* Define your keyframes here */
}
/* Keyframes for Animations End */
